<!doctype html>
<html>
    <head>
        <script src="angular.js"></script>
        <script src="Script.js"></script>
        <link href="Styles.css" rel="Stylesheet" />
    </head>
    <body ng-app="myModule">
       <div ng-controller="myController">
           Rows to Display: <input type="number" step="1" min="0" max="5" ng-model="rowLimit">
           Sort: <select ng-model="sort">
                    <option value="name">Name ASC</option>
                    <option value="dob">Date of Birth ASC</option>
                    <option value="gender">Gender ASC</option>
                    <option value="-salary">Salary DESC</option>
                 </select>
           <br />
           Search: <input type="text" placeholder="Search for employee" ng-model="searchText">
           <br /><br />
           <table>
               <thead>
                   <th ng-click="sortdata('name')">
                       Name <div ng-class="getSortClass('name')"></div>
                    </th>
                   <th ng-click="sortdata('dob')">
                       Date of Birth <div ng-class="getSortClass('dob')"></div>
                    </th>
                   <th ng-click="sortdata('gender')">
                       Gender <div ng-class="getSortClass('gender')"></div>
                    </th>
                   <th ng-click="sortdata('salary')">
                       Salary (number) <div ng-class="getSortClass('salary')"></div>
                    </th>
                   <th>Salary (currency)</th>
               </thead>
               <tbody>
                   <tr ng-repeat="e in employees | limitTo:rowLimit | orderBy:sort:reverseSort | filter:searchText">
                       <td>{{ e.name | uppercase }}</td>
                       <td>{{ e.dob | date:"dd/MM/yyyy" }}</td>
                       <td>{{ e.gender | lowercase }}</td>
                       <td>{{ e.salary | number:2 }}</td>
                       <td>{{ e.salary | currency:"Rs. ":1}}</td>
                   </tr>
               </tbody>
           </table>
       </div>
    </body>
</html>